[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.6.3"
pytest-flask = "*"
pytest-factoryboy = "*"
pytest-watch = "*"
mock = "*"
pytest-mock = "*"
pdbpp = "*"
pytest-testmon = "*"
pygments = "*"
fakeredis = "*"
pytest-structlog = "*"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "~=3.0.0"
flask-marshmallow = "*"
factory-boy = "*"
google-cloud-storage = "*"
gunicorn = "*"
dynaconf = "*"
flask-cors = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
sqlalchemy-mixins = "*"
flask-shell-ipython = "*"
structlog = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
pillow = "*"
jsonpatch = "*"
ffmpeg-python = "*"
celery = {extras = ["redis"],version = "*"}

[requires]
python_version = "3.7"
